* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    font-size:62.5%;
    --textColor: #7d1a23;
    --colorBgNav : hsl(14, 72%, 57%);
    --colorBGBody: rgb(226, 207, 189);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:var(--colorBGBody);
}

nav h1 {
    font-size:4.0rem;
    color:white;
}

.wrapper {
    width:37.5rem;
    margin-inline:auto;
    padding-inline:2.4rem;
}

/* Navigation */

nav {
    display:flex;
    width:100vw;
    height:8.2rem;
    position:fixed;
    top:0;
    z-index:10;
    background-color: var(--colorBgNav);
    /* text-align:center; */
    padding-block:2rem;
}

nav .wrapper {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.menu {
    overflow:hidden;
}

.menu ul {
    list-style-type: none;    
}

.menu ul li a {
    text-decoration : none;
    color: var(--textColor);
    font-weight:bolder;
}

/* Header */

header::before {
    content:"";
    width:100%;
    height:20rem;
    display:block;

}

header {
    color: var(--textColor);
    font-size:2rem;
    display:block;
    text-align:center;
}

/* #title .wrapper{
    background-color:yellow;
    margin-inline:auto;
} */

/* Slider */

.slider {
    display: block;
    height: 20rem;
    width: 37.5rem;
    margin: auto;
    margin-top: 10rem;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 30rem;
    width: 37.5rem;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    width: 10px;
    height: 10px;
    bottom: 10px;
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.slider li:nth-child(1) label {
left: 10px;
}

.slider li:nth-child(2) label {
left: 40px;
}

.slider li:nth-child(3) label {
left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider li:nth-child(6) label {
    left: 160px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* sections */

#todo-tipo {
    margin-top:25rem;
}

#conjunto-roupas {
    margin-top:10rem;
}

#localizacao {
    padding-top:15rem;
}

#acessar-catalogo {
    padding-top:16rem;
}

#acessar-catalogo button {
    border-radius:2rem;
    padding:1rem 2rem;
    background-color: var(--colorBgNav);
    color:white;
    font-weight:bolder;
    margin-block: 8rem;
}

.map-responsible {
    width:37.5rem;
}

.text-font-pattern {
    font-size:large;
    text-align:center;
    line-height:150%;
    color: var(--textColor);
}

#localizacao h2 {
    margin-bottom:4rem;
}

#contato {
    margin-top:20rem;
}

/* Footer */

footer {
    font-size:small;
    text-align:center;
    margin-top: 16rem;;    
    line-height: 250%;
}

#position {
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:1rem;
}

#position a {
    text-decoration:none;
}

/* Menu expanded */

body.menu-expanded {
    overflow:hidden;
}

body.menu-expanded > :not(nav) {
    visibility:hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility:hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform:translateY(100%);
}

body.menu-expanded .menu {
    position:fixed;
    top:0;
    left:0;
    background: var(--colorBGBody);
    width:100vw;
    height:100vh;
    transform:translate(0);
    font-size:2rem;
}

body.menu-expanded .menu ul {
    padding-top:6rem;
    display:flex;
    flex-direction:column;
    gap:6rem;
}


/* Catálogo */

#catalogo form{
     margin-top:4rem;
}

#informacoes-catalogo {
    line-height:150%;   
}

#informacoes-catalogo p {
    display:block;
    margin-block:2rem;
}

#galeria {
    display:block;
    width:100%;
    height:40rem;
    border: 2px solid var(--colorBgNav);
    margin-block:2rem;
    background-color:white;
}

#catalogo form button {
    display:block;
    margin-block:1rem;
}

#position a {
    color:black;
}

button {
    width:30rem;
    margin-inline:auto;
}

.map-responsible {
    margin-inline:auto;
}

.conjunto{
    margin-inline:auto;
    display:flex;
    flex-direction:row;
} 

@media (min-width:1024px) {
     .wrapper {
        width:min(112rem, 100%);
        display:grid;
    }
    
    #agrupamento {
        display:grid;
        grid-template-columns:50% 50% 50%;
        grid-template-areas:
        'A B'
        'C C';
        /* align-items:stretch; */
        align-items:flex-start;
    }

    .col-a {
        grid-area:A;
        /* background:yellow; */
    }

    #todo-tipo {
        /* background:orange; */
        /* width:60rem; */
        height:10rem;
        /* border:1px solid green; */
        /* align-self:flex-start; */
        /* position:absolute; */
        /* top:-115px; */
    }

    #conjunto-roupas {
        /* background:orange; */
        /* align-self:center; */
    }

    .col-b {
        grid-area:B;
    }

    .col-c {
        grid-area:C;
    }

    #agrupamento .col-a {
        position:relative;
        /* background:orange; */
    }


    #title ul li img,
    #segunda-parte ul li img {
        width:67rem;
        height:33rem;
    }

    #title {
        margin-bottom:12rem;
    }

    #localizacao .map-responsible,
    #localizacao .map-responsible iframe,
    #title section article ul,
    #segunda-parte ul {
        width:67rem;
        /* translateX(50%); */
    }
}